<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RosMessagesDirectoryPath" value="D:\Source\Repos\ROS.NET\common_msgs"/>
    <add key="UseProjectDefaultNamespaceAsPrefix" value="true"/>
    <add key="RosDTONamespace" value="RosDTOs"/>
    <add key="RosMessageTypeAttributeName" value="RosMessageType"/>
    <add key="RosMessageTypeAttributeNamespace" value="RosbridgeClientCommon.Attributes"/>
  </appSettings>
</configuration>