<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RosMessagesDirectoryPath" value="D:\Source\Repos\ROS.NET\common_msgs"/>
    <add key="RosMessagesProjectName" value="RosMessages"/>
    <add key="RosMessagesProjectTemplateFrameworkVersion" value="csClassLibrary.vstemplate|FrameworkVersion=4.5.2"/>
    <add key="RosMessageTypeAttributeProjectName" value="RosbridgeClientCommon"/>
    <add key="RosMessageTypeAttributeNamespace" value="RosbridgeClientCommon.Attributes"/>
    <add key="RosMessageTypeAttributeName" value="RosMessageType"/>
  </appSettings>
</configuration>